* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy-Regular", sans-serif;
}

html,
body {
  line-height: 1.4;
  font-weight: 300;
}

.hero-section {
  background-image: url(./images/developer.png);
  min-height: 100vh;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.text-container {
  color: #ffffff;
  /* background-color: aqua; */
  max-width: 900px;
  margin: 0 auto;
  padding-top: 66px;
  padding-left: 16px;
}

.text-small {
  font-size: 45px;
}

.lg-text {
  font-size: 90px;
}

.black-box{

    background-color: #000;
    padding: 20px;
    text-align: center;
}

.black-box h2{
    
    font-size: 72px;
    color: #fff;
}

.black-box h2 span{

    font-family: 'Gilroy-Bold 200', sans-serif;
    font-size: 150px;

}

.work{
    
    display: grid;
    gap: 20px ;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    max-width: 1100px;
    margin: 50px auto;
    /* background-color: aqua; */
   
}

.grid-items{
    
    /* background-color: crimson; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card{

    max-width: 320px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover{
    transform: scale(1.02) ;
    box-shadow: 10px 10px 10px rgba(1, 1, 1, 0.3);
}

.card-content{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-content h3{
    margin-bottom: 10px;
    font-family: 'Gilroy-Bold 200', sans-serif;

}

.card-content p{
    text-align: center;
}

.bottom-section{

   display: flex;
}

.contact{

     background-color: #515603;
}

.about{
    background-color: #722300;
}

.contact,
.about {
  min-height: 300px;
  padding: 32px;
  color: white;
}

.about h2,
.contact h2 {
  font-size: 64px;
  font-weight: 300;
  text-align: center;
}

.about p,
.contact p {
  margin-bottom: 20px;
  text-align: center;
}

.email-text{
    font-size: 25px;
}

footer{

    background-color: #2f2f2f;
    min-height: 80px;
    text-align: center;
    padding: 35px 0px;
    font-size: 20px;
    color: #fff;
    letter-spacing: 4px;
}

@media screen and (max-width:786px){

.hero-section{

    min-height: 70vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    
    }

    .lg-text {
    font-size: 55px;    /* Reduce giant text on mobile */
  }

  .text-small {
    font-size: 35px;    /* Reduce smaller text */
  }

  .text-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .black-box{

    background-color: #000;
    padding: 15px;
    text-align: center;
}

.black-box h2{
    
    font-size: 60px;
    color: #fff;
}

.black-box h2 span{

    font-family: 'Gilroy-Bold 200', sans-serif;
    font-size: 120px;

}

  .bottom-section{
    display: flex;
    flex-direction: column;
  }

  .about h2,
.contact h2 {
  font-size: 45px;
  font-weight: 300;
  text-align: center;
}

.about p,
.contact p {
  margin: 20px 0px;
  text-align: center;
}

.text-small {
  font-size: 45px;
}

.email-text{

    font-size: 20px;

}

  
}

    
